extends layout

block content
  .main-content
      .container
        .row
          .col-lg-6.col-lg-offset-3
            .intro-message
              h1 Micro Url
              input#TxtBoxLongUrl.form-control(type='text', placeholder='Your Url', aria-describedby='basic-addon1')
              button.btn.btn-default.btn-md.btn-url(onclick='getUrl()') Make it micro
              input#TxtBoxShortUrl.form-control.short-url(type='text', placeholder='Shortened URL', aria-describedby='basic-addon1', readonly='readonly')

