doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='/javascripts/main.js')
  body
    block content
    footer
      .footer
        .container
          .row
            .col-lg-12
              ul.list-inline
                p Copyright © Adhitya Ramadhanus 2016. All Rights Reserved