body .main-content{
  padding-top : 100px;
  background-color : #333;
  width : 100%;
  height : 755px;
  color : #d3d3d3;
  text-align : center;
}
body input[type="text"]{
  border-radius : 1px;
}
body input[type="text"]:focus{
  border-color: #000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 5 none;
}

body .btn-url{
  border-radius : 1px;
  margin-top : 10px;
  margin-bottom: 10px;
  background-color : #d3d3d3;
}

body input[type="text"].short-url{
  background-color : transparent;
  color : #fff;
}

.footer{
  padding-top : 5px;
  color : #D3D3D3;
  background-color : #171a21;
}

.footer ul li a{
  color : #D3D3D3;
}